{{ partial "head.html" . }}<body><div class="wrap"><div class="section" id="content">{{ .Content }}</div>
{{ if .Site.Params.clickablePhotos }}<div class="grid">
{{ $name := .Site.Params.galleryFolder }}
{{ $path := "gallery/" }}
{{ $content := "/content/" }}
{{ $src := (print $path $name) }}

{{ $folder := (print $content $path $name) }}

{{ $files := readDir $folder }}

{{ range shuffle $files }}
<div><a href="{{ $src | absURL }}{{.Name }}"><img src="{{ $src | absURL }}{{.Name }}"/></a></div>
{{ end }}</div>
{{ else }}<div class="grid">
{{ $name := .Site.Params.galleryFolder }}
{{ $path := "gallery/" }}
{{ $content := "/content/" }}
{{ $src := (print $path $name) }}

{{ $folder := (print $content $path $name) }}

{{ $files := readDir $folder }}

{{ range shuffle $files }}
<div><img src="{{ $src | absURL }}{{.Name }}"/></div>{{ end }}</div>{{ end }}<div class="section bottom-menu"><hr/><p>{{ range first 1 .Site.Params.mainMenu }}<a href="{{ .link }}">{{ .text }}</a>{{ end }}
{{ range after 1 .Site.Params.mainMenu }}
&#183; <a href="{{ .link }}">{{ .text }}</a>{{ end }}
&#183; <a href="{{.Site.BaseURL}}">{{ .Site.Params.homepage }}</a></p></div><div class="section footer">{{ partial "footer.html" . }}</div></div></body>