<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <!-- Character max 160-->
    <meta name="description" content="{{.Site.Params.description}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="{{.Site.BaseURL}}">
    <!-- Min 120x120px-->
    <meta name="twitter:image" content="{{.Site.Params.primaryImage | absURL}}">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{.Site.Params.title}}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="{{.Site.Params.description}}">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{.Site.BaseURL}}">
    <meta name="og:image" itemprop="image primaryImageOfPage" content="{{.Site.Params.primaryImage | absURL}}">
    <!-- Characters max 60-->
    <title>{{.Site.Title}}</title>
    <link rel="shortcut icon" href="{{.Site.Params.favicon | absURL }}" id="favicon">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL}}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.GoogleAnalytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{.Site.GoogleAnalytics}}');
    </script>

</head>
<div class="logo" style="float: right; margin: auto; position:absolute; width:30%; margin: auto;"><a href="/">
<img src="/logo_trans.png" title="logo" style="display:block; margin-left: auto; margin-right: auto; max-height: 100%; max-width: 100%;"></img></a>
</div>  
</html>
